.hikings {
  .image {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    border: 1px solid grey;
  }

  .texte {
    padding-left: 20px;

    .name {
      white-space: normal;
      padding-bottom: 0.5rem;
    }

    .adress {
      white-space: normal;
      padding-bottom: 1rem;
    }

    .description {
      white-space: normal;
      max-height: 58px;
    }
  }
}
