.hikings {
  .image {
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    border: 1px solid grey;
  }

  .texte {
    padding-left: 20px;

    .description {
      word-wrap: break-spaces;
    }
  }
}
